.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
deployment/
release/
history/
*.spec
!/pysidedeploy.spec
*.log
netconfiglint/resources/icons/app.ico
